<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eat-Da-Burger</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Knewave&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a1a89f55a7.js"></script>
    <link rel="stylesheet" href="/public/assets/">
    
    <style>
        body {           
            
            color: #fff;
        }

        .title {
            font-size: 40px;          
            text-shadow: 0 -1px 4px rgb(207, 30, 30), 0 -2px 10px #ff0, 0 -10px 20px #ff3300, 0 -18px 40px #F00, 2px 2px 2px rgba(206, 89, 55, 0);
        }


        .fa {
            margin-left: 50px;


        }

        .burger-form {
            max-width: 400px;
            text-align: center;
            position: relative;
            left: 30%;

        }

        .text {
            font-family: 'Akronim';
            font-family: 'Permanent Marker';
            color: rgb(237, 121, 12);
        }

        #burgerOrder {
            border: 1px solid rgb(221, 214, 212);
        }

        .card {
            position: relative;
            left: 13%;
            background-color: #fff;
            color: rgb(22, 165, 81);
            border-radius: 10px;
            max-width: 350px;

        }

        .card-body {
            max-width: 300px;            
            font-family: 'Permanent Marker';
            margin-left: -20px;
            text-align: center;
        }

        .card-header {
            letter-spacing: 1.2rem;           
            font-size: 20px;
        }

        .fa-trash-alt {
            margin: 0 auto;
        }


        #btnOrderBurger {
            border-radius: 10px;
            background-color: rgba(235, 33, 33, 0.863);
            color: #ffffff;
            
            
            font-size: 20px;
            outline: none;
            transition: transform .2s;
            border: 1px solid orangered;

        }

        #btnOrderBurger:hover {
            cursor: pointer;
            transform: scale(1.1);
            outline: none;
        }


        .devour-button {
            color: red;            
        }
    </style>
</head>

<body>
    <nav class="navbar justify-content-center">
        <h1 class="title">
        <br> Yum Burger </h1>
    </nav>
    <br>
    <div class="container">
        {{{body}}}
    </div>
</body>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="././././assets/css/js/burger.js"></script>

</html>